{% load static %}
<html lang="en" data-bs-theme="auto">
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HABER</title>


    <link href="{% static 'css/loginCss/pop.css' %}" rel="stylesheet">
    <link href="{% static 'css/loginCss/prism-toolbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/loginCss/prism-okaidia.css' %}" rel="stylesheet">
    <link href="{% static 'css/loginCss/style.default.63c85ff9.css' %}" rel="stylesheet">




    <link href="{% static 'css/_boots.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet"> 
    <script src="{% static 'js/color_modes.js' %}"></script>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        {% include 'partials/darkmode.htm' %}
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        {% include 'partials/_drop.html' %}
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        {% include 'partials/cart.html' %}
    </svg>

    <main class="page-holder align-items-center py-4 bg-gray-100 vh-100">
        {% block content %}
        <!-- Your block content goes here -->
        {% endblock %}
    </main>

    <footer class="container py-5">
        {% include 'partials/footer.html' %}
    </footer>


    
    <script src="{% static 'js/loginjs/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/loginjs/tester.js' %}"></script>
    <script src="{% static 'js/loginjs/theme.87f0a411.js' %}"></script>
    <script src="{% static 'js/loginjs/prism.js' %}"></script>
    <script src="{% static 'js//loginjs/prism-normalize-whitespace.min.js' %}"></script>
    <script src="{% static 'js/loginjs/prism-toolbar.min.js' %}"></script>
    <script src="{% static 'js/loginjs/prism-copy-to-clipboard.min.js' %}"></script>
    <script src="{% static 'js/loginjs/text.js' %}"></script>
      
    
    <script src="{% static 'js/van.js' %}"></script>


    <link href="{% static 'css/loginCss/all.css' %}" rel="stylesheet">

</body>
</html>